/* XXL (1400px and below) */
@media (max-width:1399px){

    .container{
        width:1140px;
        margin:0 auto;
    }
}

/* XL (1200px and below) */
@media (max-width:1199px){

    .container{
        width:960px;
    }

    .left{
        width:80%;
        display:flex;
    }

    .right{
        width:20%;
        display:flex;
        justify-content:space-evenly;
    }

    .logo{
        width:12%;
    }

    .logo img{
        width:60%;
    }

    .menu{
        width:88%;
        display:block;
    }

    .menu ul{
        display:flex;
    }

    .menu-item{
        margin:0 18px;
    }

    .right .icon{
        /* font-size:22px; */
        margin:0;
    }

    .footer-col{
        width:23%;
    }
}

/* LG (992px and below) */
@media (max-width:991px){

    .container{
        width:720px;
        padding:0 20px;
    }

    .left{
        width:50%;
    }

    .logo{
        width:100%;
    }

    .logo img{
        width:60px;
    }

    .menu{
        display:none;
    }

    .right{
        width:50%;
        justify-content:flex-end;
    }

    .icon{
        /* font-size:22px; */
        margin-left:10px;
    }

    .card-items .card-item{
        width:50%;
    }

    .footer-col{
        width:48%;
        margin-bottom:48px;
    }
}

/* MD (768px and below) */
@media (max-width:767px){

    .container{
        width:540px;
        padding:0 15px;
    }

    .left{
        width:50%;
    }

    .logo{
        width:100%;
    }

    .logo img{
        width:60px;
    }

    .menu{
        display:none;
    }

    .right{
        width:50%;
        justify-content:flex-end;
    }

    .icon{
        /* font-size:18px; */
        margin-left:10px;
    }

    .card-items .card-item{
        width:50%;
    }

    .footer-col{
        width:48%;
        margin-bottom:25px;
    }
}

/* SM (576px and below) */
@media (max-width:575px){

    .container{
        width:100%;
        padding:0 10px;
    }

    .left{
        width:50%;
    }

    .logo{
        width:100%;
    }

    .logo img{
        width:60px;
    }

    .menu{
        display:none;
    }

    .right{
        width:50%;
        justify-content:flex-end;
    }

    .icon{
        /* font-size:18px; */
        margin-left:10px;
    }

    .banner img{
        width:100%;
        display:block;
    }

    .card-items .card-item{
        width:100%;
    }

    .footer-col{
        width:100%;
        margin-bottom:25px;
    }
}